#board table {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}

#board table td,
table th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0;
}

/* 
Fix for table borders on Firefox when scaling transforms are applied to the board.
See: https://stackoverflow.com/questions/35826845/incorrect-border-rendering-when-using-css-transform-in-firefox
*/
@-moz-document url-prefix() {
  @media (max-width: 1268px) {
    #board table {
      border-right: none;
      border-top: none;
    }

    #board table td,
    table th {
      border: none;
      box-shadow: inset -1px 1px black;
    }
  }
}
