.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5 {
  margin: 0.8rem 0 0.3rem;
  font-weight: 700;
  line-height: 1.42;
}

.md-content h1 {
  margin-top: 0;
  font-size: 4rem;
}

.md-content h2 {
  font-size: 3rem;
}

.md-content h3 {
  font-size: 2.25rem;
}

.md-content h4 {
  font-size: 1.8rem;
}

.md-content h5 {
  font-size: 1.45rem;
}

.md-content h6 {
  font-size: 1.3rem;
}

.md-content a {
  color: var(--chakra-colors-blue-500);
  font-weight: 600;
  text-decoration: none;
}

.md-content a:hover {
  text-decoration: underline;
}

.md-content p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.md-content .runnable-example .control-bar,
.md-content .runnable-example p {
  /* We don't want to change any of the CSS properties inside RunnableExample */
  font-size: unset;
  margin-bottom: unset;
  font-weight: unset;
}

.md-content code {
  background: var(--chakra-colors-gray-200);
  border: solid 1px var(--chakra-colors-gray-300);
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
  font-family: monospace;
}

.md-content pre > code {
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1.5rem;
  width: 100%;
  line-height: 1.25;
  /* overflow-x: scroll; */
}

.md-content table {
  margin-bottom: 1rem;
  border: solid 1px var(--chakra-colors-gray-300);
  padding: 0.1rem 0.4rem;
}

.md-content table th {
  background: var(--chakra-colors-gray-200);
  border: solid 1px var(--chakra-colors-gray-300);
  padding: 0.4rem 1rem;
}

.md-content table td {
  border: solid 1px var(--chakra-colors-gray-300);
  padding: 0.4rem 1rem;
}

.md-content hr {
  margin: 2rem 0;
  border: none;
  border-top: solid 2px var(--chakra-colors-gray-300);
}

.md-content ul,
.md-content ol {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

.md-content.hover-doc h1,
.md-content.hover-doc h2,
.md-content.hover-doc h3,
.md-content.hover-doc h4,
.md-content.hover-doc h5 {
  margin: 0.5rem 0 0.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.md-content.hover-doc h1 {
  font-size: 1.5rem;
}

.md-content.hover-doc h2 {
  font-size: 1.3rem;
}

.md-content.hover-doc h3 {
  font-size: 1.1rem;
}

.md-content.hover-doc h4 {
  font-size: 1rem;
}

.md-content.hover-doc h5 {
  font-size: 0.9rem;
}

.md-content.hover-doc h6 {
  font-size: 0.8rem;
}

.md-content.hover-doc p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.md-content.hover-doc code {
  background: var(--chakra-colors-gray-300);
  border: solid 1px var(--chakra-colors-gray-400);
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
  font-family: monospace;
}
