#editor-wrapper {
  border-width: 2px;
  border-top: 0px;
  padding-bottom: 2px;
  background: var(--chakra-colors-gray-100);
  border-color: rgb(31 41 55);
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

#editor-wrapper.level-sized {
  height: 381px;
}

.cm-focused {
  outline: none !important;
}

.cm-tooltip-hover {
  /* Unfortunately there's no way to import typescript constants here,
  but we should make sure this matches TOOL_TIP_Z_INDEX in
  web/lib/constants.ts */
  z-index: 1100;
}

.cm-foldGutter {
  /* We're not using the fold gutter, so hide it for now. */
  width: 0;
}

.cm-selectionMatch {
  /* Selection match highlighting can be confusing for new
  programmers since it looks like the matches are also being
  selected (e.g. when you try to copy/paste). Disable it by
  overriding the background for selection matches. */
  background: transparent !important;
}

/* .line-running is the class added by our Editor component
to indicate which line of code is currently running */
.line-running {
  position: relative;
  background-color: var(--chakra-colors-blue-100);
}

.line-running::before {
  content: "▶︎";
  position: absolute;
  top: -0.25rem;
  z-index: 200;
  left: -1.1rem;
  font-size: 1rem;
  color: var(--chakra-colors-blue-400);
}

.line-running::after {
  content: "";
  position: absolute;
  z-index: 200;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--chakra-colors-blue-400);
}

.cm-tooltip.cm-tooltip-hover {
  background-color: var(--chakra-colors-gray-200);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Override comment styles. For example, we don't want hover effects
for hoverables inside of comments. */
.cm-comment {
  color: var(--chakra-colors-green-600);
}

.cm-comment:hover {
  font-weight: 500;
}

/* .cm-hoverable is the class added by our highlightHoverable
plugin for any text which supports documentation-on-hover */
.cm-hoverable {
  color: var(--chakra-colors-purple-600);
  transition: font-weight 0s;
}

.cm-hoverable:hover {
  font-weight: 700;
  transition: font-weight 1s;
}
